
.navcontainer{
  display: flex;
  justify-content: flex-end;
}
nav ul {
  list-style-type: none;

}
ul li {
  margin: 0rem 1rem;
}
nav {
  background-color:  #007FFF;
  padding: 1rem;
  
}
.card {
  display: flex;
  width: 980px;
  margin: auto;
  margin-top: 2rem;
  gap: 3rem;
}
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: hsl(200deg 6% 90%)
}
cardrightcontainer{
  text-align:left;
}
footer p {
  padding-bottom: 6px;
}
.header2{
  margin-top: -1rem;
}
a {
  color: white;
  text-decoration: none;
}
.section2{
  display: flex;
  width: 980px;
  margin: auto;
  margin-top: 4rem;
  gap: 3rem;
}